.container {
    display: flex;
    flex-direction: column;
}

.sketch-grid-item {
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}
